ul {
  list-style-type: nonte;
  margin: 0;
  padding: 0;
  width: 100%;
}

.route {
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.active {
  background-color: rgba(0,0,0,0.3);
  cursor: default;
}
