<div>
  <ul>
    <li
      *ngFor="let route of routes?.rosen"
      class="route route{{ route.id }}"
      (click)="handleRouteClick(route.id)"
      [class.active]="route.id === routeid"
    >
      {{ route.name }}
    </li>
  </ul>
</div>

<div class="note">
  <p>
    このアプリで使用している各種データは、<a
      href="http://www.city.sabae.fukui.jp/users/tutujibus/web-api/web-api.html"
      target="_blank"
      >「つつじバスロケーションWEB API」</a
    >から取得しています。
  </p>

  <p class="copy">
    &copy; <a href="https://twitter.com/maechabin" target="_blank">maechabin</a>
  </p>
</div>
