.header {
  margin: 0;
  box-sizing: border-box;
  line-height: 40px;
  height: 40px;
  padding: 0;
  background-color: #d70170;
  color: #fff;
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 18px;
}
